/*
GERAL
*/

body {
    font-family: "Open Sans", Helvetica, Arial, serif;
    color: #4d4d4d;
}

h1, h2, h3, h4 {
    margin: 0;
    font-family: "Roboto Slab", Helvetica, Arial, serif;
    font-weight: 700;
}

.botao {
    color: #f1f1f1;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #483D8B;
    font-size: .9em;
    border-radius: 5px;
}

.botao:hover {
    background-color: #6A5ACD;
}

#logo {
    width: 300px;
}

/*
NAVEGAÇÃO
*/

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #483D8B;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
    z-index: 1;     /* Correção de sobreposição de objetos - XARK */
}

nav  li:hover {
    background-color: #6A5ACD;
}

nav > a {
    text-decoration: none;
    color: #f1f1f1;
    font-weight: 700;
    font-size: 28px;
    font-family: Pacifico, serif;
}

nav ul {
    list-style: none;
    padding: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #f1f1f1;
}

/*
CABEÇALHO
*/

header {
    background-image: url('../images/fundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000000;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 80px;
}

header h1 {
    text-shadow: 5px 5px #f1eaea;
}

header p {
    margin-bottom: 2em;
}

div.transbox {
    margin: 30px;
    background-color: #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    padding: 20px;
    width: 100%;
  }

  div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
  }

/*
SOBRE
*/

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 20px;
    background-color: #6A5ACD;
    background-image: linear-gradient(to bottom right, #6A5ACD, #00BFFF);
    color: #f1f1f1;
    border-bottom: 10px solid #483D8B;
    border-top: 10px solid #483D8B;
}

#sobre h2 {
    text-shadow: 2px 2px #000000;
}

#sobre h3 {
    margin-top: 1.5em;
    text-shadow: 2px 2px #000000;
}

#sobre h4 {
    text-shadow: 2px 2px #000000;
}

#sobre p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#sobre .botao {
    background-color: #f1f1f1;
    color: #4d4d4d;
    font-weight: 600;
}

#sobre .botao:hover {
    background-color: #4d4d4d;
    color: #f1f1f1;
    font-weight: 600;
}

/*
VANTAGENS
*/

#vantagens {
    /*background-image: url('../images/back_02.jpg');*/
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#vantagens h2 {
    font-weight: 700;
    text-shadow: 2px 2px #887272;
}

#vantagens li {
	margin-bottom: 10px;
}

/*
SERVIÇOS
*/

#servicos {
    background-color: #6A5ACD;
    background-image: linear-gradient(to bottom right, #6A5ACD, #00BFFF);
    color: #f1f1f1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 10px solid #483D8B;
    border-top: 10px solid #483D8B;
}

#servicos h2, h3, h4 {
    text-shadow: 2px 2px #000000;
}

#servicos h2 {

}

#servicos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

#servicos #list{
    text-align: left;
}

#servicos img {
	margin-bottom: 50px;
}

/*
CLIENTES
*/

#clientes {
    /*background-image: url('../images/back_02.jpg');*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#clientes h2 {
    /*margin-bottom: 15px;
    text-shadow: 2px 2px #000000;*/
    margin-bottom: 20px;
}

#clientes p {

}

#clientes div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

/*
CONTATO
*/

#contato {
    background-color: #6A5ACD;
    background-image: linear-gradient(to bottom right, #6A5ACD, #00BFFF);
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-bottom: 10px solid #483D8B;
    border-top: 10px solid #483D8B;
}

#contato h2 {
    text-shadow: 2px 2px #000000;
}

#contato a {
    color: #f1f1f1;
}

#contato img {
	width: 80px;
}

/*
FOOTER
*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #483D8B;
    color: #f1f1f1;
    padding: 25px 25px;
}

/*
MEDIA QUERIES
*/

@media screen and (min-width: 700px) {

    /*
    GERAL
    */

    body {
        
    }

    /*
    NAVEGAÇÃO
    */

    nav{
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        width: 70%;
    }

    /*
    CABEÇALHO
    */
 
    header {
        height: 600px;
        height: 90vh;
        justify-content: center;
        font-size: 30px;
        margin-top: 25px;
    }

    /*
    SOBRE
    */

    #sobre {
        justify-content: center;
        min-height: 250px;
        font-size: 30px;
    }

    /*
    VANTAGENS
    */

    #vantagens {
        margin: 25px;
        justify-content: center;
        font-size: 30px;
    }
	
	.list > ul {
		margin-bottom: 10px;
		margin-top: 50px;
		padding-left: 200px;
		padding-right: 200px;
	}
	
	.list > li {
		padding-top: 25px;
		padding-bottom: 50px;
	}

    /*
    SERVIÇOS
    */

    #servicos {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        margin: 0 auto;
        font-size: 20px;
    }

    #servicos h2 {
        text-align: center;
        width: 100%;
		font-size: 50px;
    }

    #servicos div {
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 5px;
    }

    /*
    CLIENTES
    */

    #clientes {
        font-size: 30px;
    }

    #clientes img {
        margin-bottom: 10px;
		margin-top: 10px;
    }

    /*
    CONTATO
    */

    #contato {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500;
        margin: 0 auto;
        font-size: 20px;
    }

    #contato h2,
    #contato p {
        width: 100%;
    }
	
	#contato h2 {
		font-size: 50px;
	}

    #contato a {
        color: #f1f1f1;
    }


}