/*
GERAL
*/

body {
  font-family: "Open Sans", Helvetica, Arial, serif;
  color: #4d4d4d;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: "Roboto Slab", Helvetica, Arial, serif;
  font-weight: 700;
}

h2 {
  color: #40bdb8;
  font-size: 30px;
}

h4 {
  font-size: 23px;
}

.botao {
  color: #f1f1f1;
  text-decoration: none;
  padding: 10px 30px;
  background-color: #2e2e2e;
  font-size: 0.9em;
  border-radius: 5px;
  margin-bottom: 40px;
}

.botao:hover {
  background-color: #908585;
}

#button_back {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 40px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #000;
  color: white;
  cursor: pointer;
  padding: 13px 16px;
  border-radius: 4px;
  font-weight: 900;
  font-size: 18px;
}

#button_back:hover {
  background-color: #555;
}

#logo {
  width: 210px;
  margin-top: 2px;
}

/*
NAVEGAÇÃO
*/

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2e2e2e;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; /* Correção de sobreposição de objetos - XARK */
  -webkit-box-shadow: -2px 7px 5px rgba(210, 210, 210, 0.7);
  -moz-box-shadow: -2px 7px 5px rgba(210, 210, 210, 0.7);
  box-shadow: -2px 7px 5px rgba(210, 210, 210, 0.7);
}
}

nav li:hover {
  background-color: #908585;
}

nav > a {
  text-decoration: none;
  color: #f1f1f1;
  font-weight: 700;
  font-size: 28px;
  font-family: Pacifico, serif;
}

nav ul {
  list-style: none;
  padding: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

nav ul li {
  text-align: center;
  width: 100%;
}

nav ul li a {
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  text-decoration: none;
  color: #f1f1f1;
  font-size: 14px;
}

/*
CABEÇALHO
*/

header {
  background-image: url("../images/banner-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #000000;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-top: 78px;
}

header h1 {
  text-shadow: 5px 5px 10px #f1eaea;
}

header p {
  margin-bottom: 2em;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  opacity: 0.8;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  padding: 20px;
  width: 100%;
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

/*
SOBRE
*/

#sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 20px;
  background-color: #2e2e2e;
  background-image: linear-gradient(to bottom right, #2e2e2e, #898484);
  color: #f1f1f1;
  border-bottom: 5px solid #bcb7b7;
  border-top: 5px solid #bcb7b7;
}

#sobre h2 {
  text-shadow: 2px 2px #000000;
  margin-top: 30px;
}

#sobre h3 {
  margin-top: 1.5em;
  text-shadow: 2px 2px #000000;
}

#sobre h4 {
  text-shadow: 2px 2px #000000;
}

#sobre p {
  margin-bottom: 2.5em;
  max-width: 1000px;
  font-size: 18px;
}

#sobre .botao {
  background-color: #f1f1f1;
  color: #4d4d4d;
  font-weight: 600;
  font-size: 18px;
}

#sobre .botao:hover {
  background-color: #4d4d4d;
  color: #f1f1f1;
  font-weight: 600;
}

/*
VANTAGENS
*/

#vantagens {
  background-image: url("../images/back-02.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 75px;
}

#vantagens h2 {
  font-weight: 700;
  text-shadow: 2px 2px #345c5a;
  color: #40bdb8;
  margin-top: 30px;
}

#vantagens li {
  margin-bottom: 10px;
  color: #000000;
  list-style-type: circle;
  font-size: 18px;
}

/*
SERVIÇOS
*/

#servicos {
  background-color: #2e2e2e;
  background-image: linear-gradient(to bottom right, #2e2e2e, #898484);
  color: #f1f1f1;
  border-bottom: 5px solid #bcb7b7;
  border-top: 5px solid #bcb7b7;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#servicos h2,
h3,
h4 {
  text-shadow: 2px 2px #000000;
}

#servicos h2 {
  margin-top: 30px;
}

#servicos div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /*margin-top: 30px;*/
}

#servicos #list {
  text-align: left;
}

#servicos img {
  margin-bottom: 35px;
}

/*
CLIENTES
*/

#clientes {
  background-image: url("../images/back_02.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#clientes h2 {
  /*margin-bottom: 15px;
    text-shadow: 2px 2px #000000;*/
  margin-bottom: 20px;
  margin-top: 30px;
}

#clientes p {
}

#clientes div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

/*
CONTATO
*/

#contato {
  background-color: #2e2e2e;
  background-image: linear-gradient(to bottom right, #2e2e2e, #898484);
  color: #f1f1f1;
  border-bottom: 5px solid #bcb7b7;
  border-top: 5px solid #bcb7b7;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 15%;
}

#contato h2 {
  text-shadow: 2px 2px #000000;
}

#contato a {
  color: #f1f1f1;
  font-size: 15px;
}

#contato img {
  width: 40px;
}

.logo_partners {
  width: 120px;
}

/*
FOOTER
*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2e2e2e;
  color: #f1f1f1;
  padding: 12px 25px;
}

footer > a {
  font-size: 15px;
}

/*
MEDIA QUERIES
*/

@media screen and (min-width: 700px) {
  /*
    GERAL
    */

  body {
  }

  /*
    NAVEGAÇÃO
    */

  nav {
    flex-direction: row;
    justify-content: space-around;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    width: 450px;
  }

  /*
    CABEÇALHO
    */

  header {
    height: 600px;
    height: 90vh;
    justify-content: center;
    font-size: 30px;
    margin-top: 25px;
  }

  /*
    SOBRE
    */

  #sobre {
    justify-content: center;
    min-height: 250px;
    font-size: 30px;
  }

  /*
    VANTAGENS
    */

  #vantagens {
    margin: 25px;
    justify-content: center;
    font-size: 30px;
  }

  .list > ul {
    margin-bottom: 25px;
    margin-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
  }

  .list > li {
    padding: 15px 0;
  }

  /*
    SERVIÇOS
    */

  #servicos {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 auto;
    font-size: 20px;
  }

  #servicos h2 {
    text-align: center;
    width: 100%;
    font-size: 50px;
    font-size: 30px;
  }

  #servicos div {
    flex-grow: 1;
    flex-basis: 285px;
    padding: 0 5px;
  }

  /*
    CLIENTES
    */

  #clientes {
    font-size: 30px;
  }

  #clientes img {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  /*
    CONTATO
    */

  #contato {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 500;
    margin: 0 auto;
    font-size: 20px;
  }

  #contato h2,
  #contato p {
    width: 100%;
  }

  #contato h2 {
    font-size: 30px;
  }

  #contato a {
    color: #f1f1f1;
  }
}
